html
  head
    meta(refresh=60)
    script(src="https://www.gstatic.com/charts/loader.js")
    script(src="./waterfall.js")
        .type="text/javascript"
    include ./gauge.js
  body

  p.greetings#people currentValues!

  div currentValues
  div(id="timestamp")
  div(id="chart_div")
